@import "./variables/variables";
// base stale
@import "./base/base";

// Components
@import "./components/mixin";
@import "./components/header";
@import "./components/hero";
@import "./components/feature";
@import "./components/about";
@import "./components/team";
@import "./components/client";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/modal"