// .feature {
//      padding-bottom: 0;
// }

.feature__list {

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    
}

.feature__wrapper {
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    background-color: #f5f4fa;
}

.feature__item {
  width: auto;
  
  @include mq(tablet-only) {
    width: 354px; 
  }
    // width: 270px;
}

// .feature__item:not(:last-child) {
//      margin-right: 30px;
// }

.feature__subtitle {
    @include mq(mobile-only) {
        text-align: center;
    }
}

.feature__text {
    margin-top: 10px;
    text-align: left;
}