.header {

   
    border-bottom: 1px solid #ececec;

    background-color: var(--header-bg-color);
}

.header__container {
    display: flex;
    align-items: center;

    @include mq(mobile-only){
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    align-items: center;

    
}

.header__link {
    margin-right: 88px;


    @include mq (desktop) {
     margin-right: 93px;
    }
    
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    @include mq (mobile-only) {
        font-size: 24px;
        line-height: 2;
    }
}

.logo--primery {
    color: var(--primery-title-color);
}

.nav__list {
    display: flex;
    @include mq (mobile-only) {
        display: none;
    }
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    position: relative;
    display: block;
    padding-top: 31px;
    padding-bottom: 31px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primery-title-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}



.nav__link.current {
    color: var(--accent-color);
}

.nav__link.current::after,
.nav__link:hover::after {
    position: absolute;
    content: '';

    width: 100%;
    height: 4px;
    display: block;

    left: 0%;
    bottom: 0%;
    border-radius: 2px;
    background-color: var(--accent-color)
}


.contact-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    @include mq (mobile-only) {
        display: none;
    }

    @include mq (desktop) {
        flex-direction: row;
    }
}

.contact-list__item:not(:last-child) {
    @include mq (tablet) {
        margin-bottom: 10px;
    }
    @include mq (desktop) {
        margin-right: 50px;
    }
    
}

.contact-list--mail {
    display: flex;
    align-items: center;
    // padding-top: 31px;
    // padding-bottom: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list--mail:hover,
.contact-list--mail:focus {
    fill: #2196f3;
    color: var(--accent-color);
}

.contact-list--phone {
    display: flex;
    align-items: center;
    // padding-top: 31px;
    // padding-bottom: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list--phone:hover,
.contact-list--phone:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
}

.contact-list__icon {
    margin-right: 10px;
}