.menu-btn {
    position: relative;

    

    background-color: transparent;
    border: transparent;
    outline: transparent;

    z-index: 99;

    

    


    @include mq (tablet) {
        
            display: none;
        }


    &__icon {
        margin-left: auto;
        width: 40px;
        height: 40px;
        :hover {
            fill: var(--accent-color);
        }
        
        &-open{
            opacity: 1;

        }

        &-close{
            opacity: 0;

        }

    }

}

.menu-btn.is-active .menu-btn__icon-open {
    opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
    opacity: 1;
}

    