

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;


    transform: translateX(100%);
    visibility: hidden;
    pointer-events: none;
    transition: transform ;

    &.is-open {
        transform: translateX(0);
        visibility: visible;
        pointer-events: initial;
        
    }

    @include mq(tablet) {
        display: none;
    }

}



.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    width: 100%;
    height: 100%;
    padding: 48px 40px;
    color: var(--primery-title-color);
    background-color: var(--header-bg-color);
}

.mobile-nav__list{
    :not(:last-child) {
         margin-bottom: 32px;
    }
}



.mobile-nav__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    color: #212121;
}
.mobile-nav__link.current {
    color: var(--accent-color);
}

.mobile-contact {
    display: block;
    margin-top: auto;
}

.mobile-contact__item {
    margin-bottom: 32px;
}

.mobile-contact__phone{
    
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;


    color: var(--accent-color);
}

.mobile-contact__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
}

.mobile-social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


.mobile-social__item:not(:last-child) {
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    border-right: 2px solid rgba(33, 33, 33, 0.2);
}
    

.mobile-social__link{
    color: var(--accent-color);
}

