.team {
    background-color: #f5f4fa;
}

.team__title {
    margin-bottom: 50px;
}

.team__list {
    @include mq(tablet-only) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include mq(desktop) {
        display: flex;
    }
     
}

.team__item {

    @include mq (tablet-only) {
        max-width: 354px;
    }

    @include mq (desktop) {
        max-width: 270px;

        &:not(:last-child) {
        margin-right: 30px;}
    }

    @include mq(notDesktop) {
        margin-bottom: 30px;
    }

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--header-bg-color);
    border-radius: 0px 0px 4px 4px;}




.team__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primery-title-color);
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 16px;
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
    fill: #ffffff;
    background-color: var(--accent-color);
}