body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;

    color: var(--primary-txt);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-title-color);
}

.subtitle {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primery-title-color);
}

.text {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

.section {

    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
    outline: solid 1px black;

}